/* define raleway font */

@font-face 
{
    font-family: 'ralewayregular';
    src: url("fonts/raleway-regular-webfont.eot");
    src: url("fonts/raleway-regular-webfont.eot?#iefix") format('embedded-opentype'),
         url("fonts/raleway-regular-webfont.woff2") format('woff2'),
         url("fonts/raleway-regular-webfont.woff") format('woff'),
         url("fonts/raleway-regular-webfont.ttf") format('truetype'),
         url("fonts/raleway-regular-webfont.svg#ralewayregular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url("fonts/raleway-bold-webfont.eot");
    src: url("fonts/raleway-bold-webfont.eot?#iefix") format('embedded-opentype'),
         url("fonts/raleway-bold-webfont.woff2") format('woff2'),
         url("fonts/raleway-bold-webfont.woff") format('woff'),
         url("fonts/raleway-bold-webfont.ttf") format('truetype'),
         url("fonts/raleway-bold-webfont.svg#ralewaybold") format('svg');
    font-weight: normal;
    font-style: normal;

}


/* general */


body
{
    font-family: 'ralewayregular', 'arial', 'verdana', 'sans-serif';
    font-size: 0.9em;
    color: black;
}

h1, h2, h3, h4, form
{
    font-family: ralewaybold, 'arial', 'verdana', 'sans-serif';
} 


h1, h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

ul
{
    list-style-type: none; /* remove list markers */
    padding: 0; /* remove indentation of list items */
    margin:0; /* remove indentation of list items */
}

/* remove underlining and color of links */
a
{
    text-decoration: none;
    color: black;
}

/* remove different color of visited links */
a:visited
{
    color: black;
}

/* remove different color of mailto links */
a[href^="mailto"]
{
    color: black;
}

/* smaller stars */
.fa-star
{
    font-size: 0.8em;
}



/* general structure */

/* borders to be removed, just to see parts more cleraly while working */
header
{
    border: #0065FC solid 2px;
    width: 100%;
    min-width: 375px;
    padding: 20px 10px;
}

footer
{
    width: 100%;
    min-width: 375px;
    background-color: #F2F2F2;
    padding: 20px 10px;
    line-height: 2em;
}

#search-section
{
    border: solid 2px violet;
    width: 100%;
    min-width: 375px;
    padding: 20px 10px;
    line-height: 1em;
}


#accommodation-popular
{
    width: 100%;
    min-width: 375px;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}


#accommodation
{
    border: turquoise solid 2px;
    width: 100%;
    min-width: 375px;
    height: auto;
    padding: 20px 10px;
    line-height: 0em;
}

#popular
{
    border: turquoise solid 2px;
    width: 100%;
    min-width: 375px;
    height: auto;
    background-color: #F2F2F2;
    padding: 20px 10px;
    line-height: 0em;
}

#activities
{
    border: mediumorchid solid 2px;
    width: 100%;
    min-width: 375px;
    height: auto;
    padding: 20px 10px;
}







/* header */

#header
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 10px;
    font-size: 1.2em;
}


#logo img
{
    width: 100px;
    padding: 0 10px;
}

#register 
{
    padding: 0 10px;
}

#register p
{
    color: #0065FC;
    font-family: ralewaybold;
}

#header-nav 
{
    border: hotpink solid 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-div
{
    border: rgb(9, 187, 231) solid 2px;
    width: 100%;
    text-align: center;
}



.anchor:focus
{
    color: #0065FC;
}

.anchor:hover
{
    color: #0065FC;
}




/* search section */

#search-section 
{
    font-size: 1.15em; 
    line-height: 1.2em;
}

#search-section h1
{
    line-height: 1.1em;
}


#info
{
  display: flex;
  justify-content: center;
  align-items: baseline; 
  width: 100%;
}


#search-box
{
    display: flex;
    height: 50px;
}


.blue-icon 
{
    color:#0065FC;
}

.blue-background /* doesn't work anymore if try to change size of background */
{
    background-color: #DEEBFF;
    border-radius: 50%;
}


.white-on-blue-icon
{
    color:#ffffff;
    background-color: #0065FC;
}


.grey-icon
{
    color: rgb(233, 232, 232);   
}

.grey-background
{
    background-color: #f2f2f2;
}



#filters
{
    display: flex;
    flex-direction: column;
}

#filters-checkbox
{
    display: flex;
    flex-wrap: wrap;
}







/* accommodation section */

#accommodation-list
{
    border: orange solid 2px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.accommodation-preview
{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgb(233, 232, 232);
    border-radius: 20px;
    padding: 5px;
    margin: 15px 0;
    min-width: 330px; /* at 375px previews too large */
    max-width: 500px;
    height: 195px;
    line-height: 0.3em;
}



.accommodation-text
{
    padding: 0 0 0 10px;
}


#accommodation-plus
{
    padding: 20px 0 0 0;
}


#accommodation img
{
    width: 100%;
    height: 115px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
}


#accommodation h2
{
    width: 100%;
}


/* popular section */

#popular-title
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-chart-line
{
    font-size: 1.5em;
}


#popular-list
{
    border: orange solid 2px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.popular-preview
{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgb(233, 232, 232);
    border-radius: 20px;
    padding: 5px;
    margin: 15px 0;
    min-width: 330px; /* at 375px previews too large */
    max-width: 500px;
    height: 145px;
    line-height: 0.5em;
    display: flex; /* flex changes size of au coeur de l'eau */
    flex-direction: row; /* without flex all the same size but still smaller than 500px */
    align-items: center;
}



.popular-text
{
    width: 145px;
    height: 145px;
    margin: 0;
    padding: 0 10px 0 20px;
}

.popular-text h4
{
    line-height: 1.2;
}





#popular img 
{
    min-width: 145px;
    max-width: 145px;
    height: 145px;
    object-fit: cover;
    border-radius: 20px 0 0 20px ;
}


#popular-title 
{
    padding: 0 10px 0 10px;
}



/* activities section */

#activities-list
{
    border: orangered solid 2px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.activities-preview
{
    background-color: #ffffff;
    box-shadow: 5px 5px 5px rgb(233, 232, 232);
    border-radius: 20px;
    margin: 15px 0 15px 0;
    min-width: 330px;
    max-width: 500px;
    line-height: 0.5em;
}



/* different sizes of previews */
.portrait
{
    width: 90%;
    height: 190px;
}

.small
{
    width: 90%;
    height: 190px;
}

.smallmedium
{
    width: 90%;
    height: 190px; 
}

.bigmedium
{
    width: 90%;
    height: 190px; 
}

.large
{
    width: 90%;
    height: 190px;
}



/* different sizes of images */
.portrait img
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.small img
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.smallmedium img
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.bigmedium img
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.large img
{
    width: 100%;
    height: 135px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}




#activities h4 /* .activities-text */
{
    padding: 0 0 0 20px;
}


#activities h2 
{
    padding: 0 0 0 5px;
}





/* footer */

#footer-nav
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#footer-nav section
{
    padding: 10px 0 10px 30px;
    text-align: left;
}

#nav-about, #nav-accommodation, #nav-assistance
{
    width: 100%;
    text-align: left;
}

#footer-nav ul
{
    font-size: 1.1em;
}





/* responsive design */

/* mobile portrait 375-480px (default) */
@media all and (min-width:375px)
{
    body 
    {
        width:100%;
        min-width: 375px;
    }
}

/* mobile landscape/ tablet portrait 480-768px */
@media all and (min-width:480px)
{
   
}

/* tablet landscape / large tablet 768-992px */
@media all and (min-width:768px)
{
   
}



/* large tablet landscape / laptop, desktop 992-1280px */
@media all and (min-width:1024px)
{
    


    /* large screens > 1280-1440px */
@media all and (min-width:1280px)
{
    


/* super large screens > 1440px */
@media all and (min-width:1440px)
{
    body 
    {
        max-width: 1440px;
        margin: auto;
    }






